@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}
:root{
    --main-verde: #4ae28e;
    --main-azul: #597bfe;
}

body{
    font-family: sans-serif;
    transition: 0.5s ease;
}
.dark{
    background-color: #161616;
    color: aliceblue;
}

/*-----------------HEADER-----------------*/
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 5rem;
    align-items: center;
    box-shadow: -1px -8px 40px #0000006e;
    height: 100px;
    background-color: #ffffffc6;

    backdrop-filter: blur(10px);

    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10000;

    /*-----------------MENU-HAMBURGER-----------------*/
        #menu-btn {
            display: none;
        }

    /*-----------------/MENU-HAMBURGER-----------------*/

    /*-----------------LOGOS-----------------*/
        img {
            width: 120px;
            transition: 0.5s ease;

            &:hover {
                transform: scale(90%);
                cursor: pointer;
            }
        }

        .logoBgBlack {
            display: none;
        }

        .dark .logoBgWhite {
            display: none;
        }

        .dark .logoBgBlack {
            display: grid;
        }

    /*-----------------/LOGOS-----------------*/

    nav {
       
        margin-right: 3%;
        font-size: 23px;
        display: flex;
    }

    #menu {
        display: block;
    }

    .menu-list {
     
        display: flex;
        gap: 70px;

        a {
            text-decoration: none;
            color: #000;
            margin-right: 20px;
            font-weight: bold;

            &:hover {
                color: #597bfe;
            }
        }

        li {
            list-style: none;
        }
    }

    /*-----------------DARK-MODE-BTN-----------------*/
        .dark_btn {
            font-size: 30px;
            margin-left: 20px;
            display: flex;

            input {
                display: none;
            }

            .fa-cloud-sun {
                display: none;
            }

            .fa-moon {
                transition: 0.5s ease;

                &:hover {
                    color: var(--main-azul);
                    cursor: pointer;
                }

                &:active {
                    transform: rotateZ(360deg);
                }
            }

        }
    /*-----------------/DARK-MODE-BTN-----------------*/
}
.dark header {
    border-bottom: solid 3px var(--main-verde);
    background-color: #000000bc;

    .logoBgWhite {
        display: none;
    }

    .logoBgBlack {
        display: grid;
    }

    .menu-list a {
        color: aliceblue;

        &:hover {
            color: #4ae28e;
        }
    }

    .fa-cloud-sun {
        display: block;

        &:hover {
            color: var(--main-verde);
            cursor: pointer;
        }

        &:active {
            transform: scale(0.9);
        }
    }

    .fa-moon {
        display: none;
    }
}

/*HEADER para disdpositivos móveis*/
@media all and (max-width: 880px) {
    header {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        box-shadow: -1px -8px 40px #0000006e;

        /*-----------------LOGOS-----------------*/
            img{
                width: 120px;

            }

            .logos{
                order: 1;
            }

            nav{
                text-align: center;
                font-size: 23px;
            }
        /*-----------------LOGOS-----------------*/

        /*-----------------menu-hamburger-----------------*/
            #menu-btn {
                display: flex;
                /* margin-bottom: 20px; */
                border: none;
                font-size: 25px;
                background-color: #f0f8ff00;

                &:hover {
                    color: #597bfe;
                    cursor: pointer;
                }
            }
        /*-----------------menu-hamburger-----------------*/

        /*-----------------DARK-MODE-BTN-----------------*/
            .dark_btn {
                font-size: 30px;
                margin-left: 0px;
                order: 2;
            }
        /*-----------------/DARK-MODE-BTN-----------------*/

        #menu {
            position: absolute;
            background-color: #ffffff;
            top: 100px;
            width: 100%;
            height: 100vh;
            right: 0;
            overflow-y: auto;
            display: none;
        }

        .menu-list {
            text-align: left;
            display: block;
            padding: 1rem;
            width: 100%;

            li {
                padding: 20px;
                border-bottom: solid #bebebe 1px;
        
                &:hover {
                    background-color: #f0f0f0e6;
                }
            }
        }
    }
    .dark header{
        #menu-btn {
            color: #fff;

            &:hover{
                color: #597bfe;
            }
        }
        #menu {
            background-color: #4ae28e;
        }
        .menu-list li {
            color: black;
    
            &:hover {
                background-color: #3ab371;
            }
        }
    }   
}
/*-----------------/HEADER-----------------*/


/*-----------------MAIN-----------------*/
main{
    padding: 5% 10%;
    & h1{
        color: #3ab371;
        /* text-shadow: 1px 1px 20px #00000057; */
        text-align: center;
        margin-bottom: 3rem;
    }

    .container{
        display: grid;
        justify-content: center;
        grid-template-columns: 300px 300px 300px;
        gap: 4rem;

        a{
            text-decoration: none;
            color: #000;

            &:hover{
                color: white;
            }
        }
    }

    .content{
        background-color: #3ab37000;
        box-shadow: 1px 1px 20px #0000003a;
        border-radius: 20px;
        padding: 0.7rem;
        width: 300px;
        transition: 0.3s ease;

        &:hover{
            transform: scale(1.05);
            background-color: var(--main-azul);
        }

        .icon_artigo{
            position: absolute;
            background-color: #3ab371;
            color: white;
            width: auto;
            padding: 5px;
            border-radius: 10px;
        }
        .icon_noticia{
            position: absolute;
            background-color: #ff1d1d;
            color: white;
            width: auto;
            padding: 5px;
            border-radius: 10px;
        }
        
        & img{
            width: 300px;
            border-radius: 20px;
        }

        & h3{
            /* color: #000; */
            margin: 10px 15px;
        }

        & p{
            margin: 0px 15px;
            margin-bottom: 10px;
            /* color: white; */
            width: 245px;

            strong{
                color: #3ab371;
            }
        }
    }
}
.dark main{ 
    .container{
        .content{
            box-shadow: 1px 1px 20px #000000;
        }
        
        a{
            color: white;
        }
    }
} 
/*MAIN para dispositivos móveis*/
@media all and (max-width: 880px){
    main{
        padding: 5% 10%;
        & h1{
            color: #3ab371;
            text-align: center;
            margin-bottom: 2rem;
        }
    
        .container{
            display: grid;
            justify-content: center;
            grid-template-columns: 150px 150px;
            gap: 2rem;
            padding-right: 1.4rem;
    
            a{
                text-decoration: none;
                color: #000;
    
                &:hover{
                    color: white;
                }
            }
        }
    
        .content{
            background-color: #3ab37000;
            box-shadow: 1px 1px 20px #0000003a;
            border-radius: 20px;
            padding: 0.7rem;
            width: 150px;
            transition: 0.3s ease;
    
            &:hover{
                transform: scale(1.05);
                background-color: var(--main-azul);
            }
    
            .icon_artigo{
                position: absolute;
                background-color: #3ab371;
                color: white;
                width: auto;
                padding: 5px;
                border-radius: 10px;
            }
            .icon_noticia{
                position: absolute;
                background-color: #ff1d1d;
                color: white;
                width: auto;
                padding: 5px;
                border-radius: 5px;
            }
            
            & img{
                width: 150px;
                border-radius: 10px;
            }
    
            & h3{
                /* color: #000; */
                margin: 10px 15px;
            }
    
            & p{
                margin: 0px 15px;
                margin-bottom: 5px;
                /* color: white; */
                font-size: 10px;
                width: 125px;
    
                strong{
                    font-size: 15px;
                    color: #3ab371;
                }
            }
        }
    }
    
    .dark main{ 
        .container{
            .content{
                box-shadow: 1px 1px 20px #000000;
            }
            
            a{
                color: white;
            }
        }
    } 

}
/*-----------------/MAIN-----------------*/


/*-----------------FOOTER-----------------*/
footer {
    height: 300px;
    background-color: #6fff74;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 0rem;

    & hr{
        border: none;
        background-color: #000;
        width: 90%;
        height: 2px;
    }

    & .tudo{
        margin: 2rem 2rem;
        display: flex;
        justify-content: space-around;
        align-items: first baseline;
        gap: 8rem;
        width: 90%;

        & a{
            text-decoration: none;
            color: #000;
            
            &:hover{
                text-decoration: underline;
            }
        }
        
        & h3{
            margin-bottom: 0.4rem;
        }

        & .voltar{
            display: grid;
            gap: 1rem;
        }

        & .referencias{
            display: grid;
            gap: 1rem;
        }

        & .links_rapidos{
            display: grid;
            gap: 1rem;
        }
    }

    & p{
        margin-bottom: 3rem;
    }
}
.dark footer{
    background-color: #3ab371;
}
/*footer para dispositivos móveis*/
@media all and (max-width: 880px){
    footer {
        height: 300px;
        background-color: #6fff74;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        margin-top: 2rem;
    
        & hr{
            border: none;
            background-color: #000;
            width: 90%;
            height: 2px;
        }
    
        & .tudo{
            margin: 2rem 2rem;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            gap: 2rem;
            width: 90%;
            text-align: center;
    
            & a{
                text-decoration: none;
                color: #000;
                
                &:hover{
                    text-decoration: underline;
                }
            }
            
            & h3{
                margin-bottom: 0.4rem;
            }
    
            & .voltar{
                display: grid;
                gap: 0.5rem;
            }
    
            & .referencias{
                display: grid;
                gap: 0.1rem;
            }
    
            & .links_rapidos{
                display: grid;
                gap: 0.1rem;
            }
        }
    
        & p{
            margin-bottom: 3rem;
        }
    }
}
/*-----------------/FOOTER-----------------*/


